

<div class="container">
    <h2>Task Details</h2>
    <table class = "table table-hover">
        <thead>
            <tr>
                <th> Task Name </th>
                <th> Due Date </th>
                <th>Tools Needed</th>
                <th>Delete Task? <div class="text-danger">Warning, It will be gone forever!</div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{taskDetail.taskName}}</td>
                <td>{{taskDetail.taskDuedate}}</td>
                <td>{{taskDetail.taskTool}}</td>
                <td><button type ="button" class="btn btn-danger btn-xs" (click)= "deleteTask(taskDetail.id)">Delete</button></td>

            </tr>
        </tbody>
    </table>
</div>
