<div id = "displayTasks">
    <div class="container-fluid">
      <nav class = "navbar navbar-expand-lg  ">
        <a href="/" class="navbar-brand">Task Manager</a>

        <ul class="navbar-nav">
            <li class="navbar-item">
                <a href="/task" class="nav-link">Tasks</a>
            </li>
            <li class="navbar-item">
                <a href="/add" class="nav-link">Add Task</a>
            </li>
        </ul>

          </nav>

</div>

<div class="container">
<router-outlet></router-outlet>
</div>

</div>