<div id = "displayTasks">
    <div class="container-fluid">
      <nav class = "navbar navbar-expand-lg  ">
        <a href="/assets/bgpic.jpg" class="navbar-brand">Task Manager</a>

        <ul class="navbar-nav">
            <li class="navbar-item">
                <a href="/task" class="nav-link">Issues</a>
            </li>
            <li class="navbar-item">
                <a href="/add" class="nav-link">Add Issue</a>
            </li>
            <!--<li class="navbar-item">
                <a href="/details" class="nav-link">Details</a>
            </li>-->
        </ul>

          </nav>

</div>

<div class="container">
<router-outlet></router-outlet>
</div>

</div>