
<div class = "text-center" >
   
         <Label  class="form-label">Task Name:  </Label>
         <input type ="text" class = "form-control"  [(ngModel)]= "newTask.taskName" /> <br>
        
         <label  class="form-label">Due Date:  </label>
         <input type="date" class = "form-control" [(ngModel)]= "newTask.taskDuedate" /><br>
       
         <label  class ="form-label"> Severity:</label> 
         <input type= "text" class = "form-control"  [(ngModel)]= "newTask.taskSeverity"   /><br>

         <label  class ="form-label"> Task Type:</label> 
         <input type= "text" class = "form-control"  [(ngModel)]= "newTask.taskType"   /><br>
         

        <button class ="btn btn-success" (click) = "addTask()">Create a Task</button>
   

</div>

